<!doctype html>
<html lang="en" class="bg-black text-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hack the Safe | Cloudflare Conference</title>
		<meta name="description" content="Win a custom Nintendo Switch by completing the Cloudflare safe challenge!" />
	</head>
	<body class="min-h-screen font-sans">
		<slot />
	</body>
</html>
